@import './settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  cursor: default;
  scroll-behavior: smooth;
  font-family: $font-text;
  background-color: $white;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 150%;
}
