@import '../../styles/settings.scss';

.links__wrapper {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.links__mockup {
  width: 42.2%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: $white;
  border-radius: .5rem;
}

.links__info {
  width: 57.8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;
  border-radius: .5rem;
}

.links__info__container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2.5rem;
}

.links__info__header {
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  p {
    color: $gray;
  }
}

.links__info__inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  button {
    width: 100%;
    font-family: $font-text;
    font-size: 1rem;
    font-weight: 600;
    color: $majorelle-blue;
    padding: 0.688rem 1.688rem;
    border: 1px solid $majorelle-blue;
    border-radius: .5rem;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: $lavender-web;
    }
  }
}

.links__info__inner__list {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $seasalt;
  border-radius: .5rem;
}

.links__info__inner__list__empty {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.links__info__inner__list__empty__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  p {
    color: $gray;
    width: 72%;
  }
}

.links__info__footer {
  padding: 1.5rem 2.5rem;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid $timberwolf;

  button {
    opacity: .25;
    background-color: $majorelle-blue;
    border: none;
    border-radius: .5rem;
    font-family: $font-text;
    font-size: 1rem;
    font-weight: 600;
    color: $white;
    padding: 0.688rem 1.688rem;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 540px) {
  .links__mockup {
    display: none;
  }

  .links__wrapper {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
  }

  .links__info {
    width: 100%;
  }

  .links__info__container {
    gap: 2.5rem;
    padding: 1.656rem;
  }

  .links__info__inner__list__empty {
    padding: 2rem 0;
    gap: 1.5rem;

    img {
      width: 42.5%;
    }
  }

  .links__info__inner__list__empty__info {
    h2 {
      font-size: 1.5rem;
    }

    p {
      width: 100%;
    }
  }

  .links__info__footer {
    padding: 1rem;
    justify-content: center;

    button {
      width: 100%;
    }
  }
}
