@import '../../styles/settings.scss';

.navbar__logo__mobile {
  display: none;
}

.navbar__preview__mobile {
  display: none;
}

.navbar__wrapper {
  width: 100vw;
  padding: 1.5rem;
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  border-radius: .5rem;
  padding: 1rem 1rem 1rem 1.5rem;

  p {
    font-weight: 600;
  }
}

.navbar__links__middle__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 0.688rem 1.688rem;
  border-radius: .5rem;
  cursor: pointer;

  p {
    color: $gray;
  }
}

.navbar__profile {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 0.688rem 1.688rem;
  border-radius: .5rem;
  cursor: pointer;

  p {
    color: $gray;
  }

  &:hover {
    p {
      color: $majorelle-blue;
    }

    img {
      filter: invert(0) sepia(88%) saturate(5970%) hue-rotate(230deg) brightness(95%) contrast(100%);
    }
  }
}

.active {
  background-color: $lavender-web;

  p {
    color: $majorelle-blue;
  }

  img {
    filter: invert(0) sepia(88%) saturate(5970%) hue-rotate(230deg) brightness(95%) contrast(100%);
  }
}

.notActiveNavLink {
  background-color: transparent;
}

.navbar__preview {
  padding: 0.688rem 1.688rem;
  border: 1px solid $majorelle-blue;
  border-radius: .5rem;
  cursor: pointer;

  p {
    color: $majorelle-blue;
  }

  &:hover {
    background-color: $lavender-web;
  }
}

@media (max-width: 540px) {
  .navbar__logo__desktop, .navbar__links__mobile, .navbar__profile__mobile, .navbar__preview {
    display: none;
  }

  .navbar__logo__mobile {
    display: block;
    padding-right: 1.25rem;
  }

  .navbar__wrapper {
    padding: 0;
  }

  .navbar__links__middle__container {
    gap: 0;
  }

  .navbar__preview__mobile {
    display: flex;
    padding: 0.688rem .938rem;
    border: 1px solid $majorelle-blue;
    border-radius: .5rem;
  }
}
