@import '../../../styles/settings.scss';

.preview__container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.625rem;
  height: 100vh;
}

.preview__navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 1.5rem;
  background-color: $white;
  border-radius: .5rem;
}

.preview__navigation__back {
  button {
    background-color: $white;
    border: 1px solid $majorelle-blue;
    border-radius: .5rem;
    padding: 0.75rem 1.688rem;
    font-family: $font-text;
    font-size: 1rem;
    font-weight: 600;
    color: $majorelle-blue;
    cursor: pointer;

    &:hover {
      background-color: $lavender-web;
    }
  }
}

.preview__navigation__share {
  button {
    background-color: $majorelle-blue;
    border: 1px solid $majorelle-blue;
    border-radius: .5rem;
    padding: 0.75rem 1.688rem;
    font-family: $font-text;
    font-size: 1rem;
    font-weight: 600;
    color: $white;
    cursor: pointer;

    &:hover {
      background-color: $mauve;
      border: 1px solid $mauve;
    }
  }
}

.preview__mockup {
  width: 21.875rem;
  background-color: $white;
  border-radius: 1.5rem;
  padding: 3rem 3.5rem;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.10);
}

.preview__mockup__inner {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.preview__mockup__inner__info {
  display: flex;
  flex-direction: column;
  gap: 1.563rem;
}

.preview__mockup__inner__info__image {
  display: flex;
  justify-content: center;
}

.preview__mockup__inner__info__image__inner {
  display: flex;

  border-radius: 50%;
  border: 4px solid $majorelle-blue;
  background-color: $majorelle-blue;
  overflow: hidden;
  width: 7rem;
  height: 7rem;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.preview__mockup__inner__info__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;

  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  p {
    color: $gray;
  }
}

.preview__mockup__inner__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preview__underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 28.5vh;
  background-color: $majorelle-blue;
  z-index: -1;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

@media (max-width: 540px) {
  .preview__underlay {
    display: none;
  }

  .preview__container {
    padding: 0;
    gap: 0;
    height: fit-content;
    padding-bottom: 3rem;
  }

  .preview__mockup {
    width: 100%;
    background-color: $white;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    padding: 3.75rem 4.313rem 0 4.313rem;
    height: 100%;
  }
}
